* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lexend Mega', sans-serif;
    /* border: 1px solid black; */
}

header {
    width: 100%;
    height: 100vh;
    
    background-image: linear-gradient(to top, #6E8C2B, #95BF3B);
    /* background-image: url(img/backgroung-image.jpg); */    
 }

 main {
     /* border: 1px solid red; */
     height: 85%;    
     display: flex;
     justify-content: space-between;    
     
 }

 .leftside {
     /* background-color: green; */
     /* margin-left: 10px; */
     margin-top: 10%;
     padding: 2%;
     display: flex;
     flex-direction: column;
     
 }

 .rightside {
     /* background-color: chocolate;     */
     margin-top: 10%;
     margin-right: 10%;
     padding: 2%;
     height: 60%;
     border: 1px solid black;
     background-image: linear-gradient(to bottom, #464545, #737373);
     border-radius: 7% 7% 7% 7% / 7% 7% 7% 6% ;
 }

 .leftside h1, h3 {     
     font-size: 50px;
 }

 h2 {
     text-align: center;
 }

 .btn1, .btn2 {
    background-image: linear-gradient(to top, #464545, #737373);
    color: white;
     box-shadow: 5px 5px 5px black;
     text-align: center;
     margin-top: 30px;
     width: 110px;
     padding: 10px;
     border-radius: 20px;
     text-decoration: none;

 }

 .btn2 {
     width: 150px; 
         
 }

 .btn1:hover {
     color: yellow;
     box-shadow: none;
 }

 .btn2:hover {
    color: yellow;
    box-shadow: none;
}
 

/* 
 for inserting back ground image with psuedo elememt and adjusting opacity
header::after {
    content: "";
    background: url(img/background-image-2.jpg);
    opacity: 0.9;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
  } */

  .navsection {
      background-color: #737373;
      border-top: 3px solid #414040;     
      border-bottom: 3px solid #414040; 
      position: relative;
      top: 5%;
      display: flex;      
      justify-content: space-around;
      align-items: center;
      width: 100%;
      height: 15%;
      padding: 10px;
  }


  .logo {
      width: 40%;
      /* border: 1px solid tomato; */
      box-shadow: 2px 2px 2px black;
      border-radius: 10px;  
      background-image: linear-gradient(to top, #464545, #737373); 
      font-size: large;  
  } 


  .logo h1 {  
        color: lime;   
         
        animation: fro linear infinite alternate 2s;    
}



   @keyframes fro {
         to {padding-right: 200px;}
        from {padding-left: 200px;}       
   }


   nav {
       /* background-color: lawngreen; */
       width: 50%;
       display: flex;
       flex-direction: row;
       justify-content: space-around;       
   }

   nav a {
       color: lime;
    text-decoration: none;
    position: relative; 
   }

   nav a::before {
       content: "";
       position: absolute;
       top: 100%;
       left: 0;
       height: 0;
       width: 0;
       border-bottom: 2px solid blue;
       transition: all 0.3s linear;
   }

   nav a:hover::before {
    width: 100%;

    

}
      

  

    /* --------------------------------For smaller display------------------------- */

    @media only screen and (max-width: 730px) {
        .navsection { flex-direction: column;  }

        .logo {width: 100%; } 

        nav {width: 100%;}

        .leftside {margin-top: 20%;}
       
        .rightside {
            margin-top: 25%;
            height: 45%;
        }

        .leftside h1, h3 {text-align: center;}

        .btn2 {
            position: absolute;
            left: 140px;
            bottom: 172px;        
            
               
        
        }

      }
